/* ==========================================================================
   Contact form
   ========================================================================== */
 .scotch-panel-canvas.scotch-is-showing {
 	max-height:100vh;
 } 

 .sidemenu-container.contact-form .sidemenu-button-box {
	 right: 0;
    left: initial;
    width: 70px;
    z-index: 10;
    cursor:pointer;
}

.sidemenu-container.contact-form  .sidemenu-button-box button::after {
	display: none;
}

.sidemenu-container.contact-form {
	@include size(100%, auto);
	background: #fff;
	overflow: visible !important;

	form {
		margin: 60px auto 100px; 

		> div {
			padding: 0px;
		}
	}

	h3, h4, p, label, input, textarea, button {	
		width: 100%;	
		color:$c-secondary;
	}

	h3{
		@extend .heading-secondary;	
		margin-bottom:0px;	
		color: $c-color;
	}

	h4 {
		@extend .heading-primary;	

		display: block;
		clear: both;
		margin-top: 10px;
		margin-bottom: 60px;
	}

	p {
		font-size: 0.95rem;
		margin-bottom: 20px;
	}

	.bigger strong {
		font-size: 1.1rem; 
	}

	label {
		@extend .heading-other;
		@include relative(top 0);
		@include transition();
	}

	input, textarea {
		@include transition();
		border:none;
		border-radius: 2px;
		background: transparent;
		font-size: 0.9rem;		
		font-family: $fontfamily-secondary;
		font-weight: 300;
	}

	textarea { 
		height: 190px;
		border:2px solid $c-bg-medium; 
		outline: none !important;
		padding:30px;

		&:hover, &:focus{ 
			border-color:$c-color;
		} 

	}

	input {
		width: 50%;
		border-bottom:2px solid $c-bg-medium;

		&:hover, &:focus{
			width: 100%;
			border-bottom-color:$c-color;
		} 

	}

}

.send-button {
	@include size(200px, 60px)
	
	position: relative;
	top: 20px;
	border:none;
	float: right;
	margin-right: 0;
	overflow: hidden;

	background: $c-color;

	>div {
		@include posAbsFull();
		@include transition();
 		
 		padding-top: 15px;
		color:#fff; 
		background: $c-color;

		&.tosend-btn:hover { 
			background: #d6364a;
		}

		&.sending-btn {
			top:100%; 
			background: #d6364a;

			.rotate2 {
				display: inline-block;
				width: 20px;
			}

		}
		&.sended-btn
		 {
		 	top:100%;
			background:#62ce32;  
		}

	}

}


.send-button.sending .sending-btn {
	top: 0;
}

.send-button.sended .sended-btn {
	top: 0;
}


 
.sidemenu-container.contact-form .empty label {
	top:30px;
}

.sidemenu-container.contact-form .empty:hover label {
	top:0;
}

.sidemenu-container.contact-form .empty:hover label {
	top:0;
}

.sidemenu-container.contact-form  .form-group:not(.empty) {

	label {
		top: 0;
	}

	input {
		width: 100%;
	}
 
}

@include media-breakpoint-down(lg) { 

	.sidemenu-container.contact-form form {
	    margin: 30px auto 60px;
	}

	 .sidemenu-container.contact-form h3 {
	 	padding-left: 15px;
	 }

	 .sidemenu-container.contact-form h4{
	   		margin-bottom: 10px;
	   		font-size: 2rem;
	   		padding-left: 15px;

	   		.rotate2 {
			    white-space:pre-wrap;
			}
	   }

	.sidemenu-container.contact-form p {
		font-size: 1rem;
		line-height: 1.5rem;

		&.bigger strong {
			font-size: inherit;
		}

	 }

	 .form-group {
	    margin-bottom: 0.5rem;
	}

}

@include media-breakpoint-down(md) { 

	.sidemenu-container.contact-form h3 {
	 	font-size: 2rem;
	 }

	 .sidemenu-container.contact-form h4{
	   	 font-size: 1.5rem;
	   	 overflow: hidden;
	 
	   }

	.sidemenu-container.contact-form p {
		margin-bottom: 0;
	}

}


@include media-breakpoint-down(sm) { 

	.sidemenu-container.contact-form  {
		height: 100vh;
	}

	.sidemenu-container.contact-form p, .sidemenu-container.contact-form h4 {
		display: none;
	}

	.sidemenu-container.contact-form h3 {
	    font-size: 1.6rem;
	    margin-bottom: 10px;
	    margin-top: 0;
	    text-transform: uppercase;
	}
 

	.sidemenu-container.contact-form input {
		padding: 3px;
		margin-bottom: 10px;
	}

	.sidemenu-container.contact-form textarea {
		height: 130px;
		padding-left: 10px;
	}
}
 

 

